<% if user_signed_in? %>


<br>


<div class="container">
  <div class="row">
    <div class="col">
       <div class="col-md-auto">
	      		profile pic
	      		<br>
	      		<%= link_to "Logout", destroy_user_session_path, data: { turbo_method: :delete } %>
	    </div>
    </div>
    <div class="col">
      <div class="row">
	    <div class="col">
	      <h3><%= current_user.username %></h3>

	    </div>
	    <div class="col">
	      <%= link_to 'Edit profile', edit_user_registration_path %>
	    </div>
	    <div class="col">
	      	settings

	    </div>
	  </div>
	  <br>
	  <div class="row">
	    <div class="col">
	      	posts 
	    </div>
	    <div class="col">
	      followers	
	    </div>
	    <div class="col">
	      following
	    </div>
	  </div>

	  <br>
	  <div class="row">
	    
	     <%= current_user.username %>

	  </div>
	  <div class="row">
			  <%= current_user.name %>

	  </div>
	  <div class="row">
	    	<%= current_user.bio %>

	  </div>
	   <div class="row">
	    	<%= link_to current_user.website %>

	  </div>


	</div>
	  
</div>




<% else %>
  <%= link_to "Sign up", new_user_registration_path %> |
  <%= link_to "Login", new_user_session_path %>
<% end %>
