<div style="margin-left: 25%; margin-right: 30%;">
  <% if user_signed_in? %>

      <div id="articles">
        <% @articles.each do |article| %>
          <div class="border", style="margin-top: 50px;background-color: mintcream;">

            <div id="<%= dom_id article %>">
              <div style="background-color: white; height: 50px;", class="row">
                <strong>
                  <%= link_to article.user.username, user_path(article.user), class:"col-16" %>
                </strong>
                <%= button_to "D", article_path(article), method: :delete, style:"float :right; margin-top: 0;", class:"col-1" %>
                <%#= link_to "D", article, method: :delete, style:"float :right;" %>
              </div>
              
              <div class="text-center">
                <% unless article.archived? %>
                  <p style="margin-top:20px; width: 510px; height: : 310px;;">
                    <%= link_to image_tag article.image_url, style:"width: 500px; height: 350px;" if article.image %>
                  </p>
                <% end %>
              </div>
              <div class="container">
                <div class="row">
                  <div class="col-1">
                      <% if article.liked?(current_user) %>
                        <%= button_to "like", article_like_path(article), method: :put, disabled: article.liked?(current_user) %>
                      <% else %>
                        <%= button_to "like", article_like_path(article), method: :put %>
                      <% end %>
                  </div>
                  <div class="col-2">
                      <%= link_to "comment", article_path(article) %>
                  </div>
                  <div class="col-1">
                    share
                  </div>                
                </div>     
                <p>

                   <strong>
                    <%# binding.pry %>
                    <% if article.liked?(current_user) %>

                      <% if Like.all.where(article_id:article.id).first.user != article.user %>
                        <%= link_to Like.all.where(article_id:article.id).first.user.username, user_path(article.likes.first.user) %>
                      
                      <% elsif Like.all.where(article_id:article.id).count == 1 %>
                        <% "" %>
                      <% elsif Like.all.where(article_id:article.id).first.user.username == article.user.username %>

                        <%= link_to Like.all.where(article_id:article.id).second.user.username, user_path(article.likes.second.user) %>
                        <%#= link_to Like.all.where(article_id:article.id).second.user.username, user_path(article.user) %>
                      <% end %>
                      <% if Like.all.where(article_id:article.id).count == 2 %>

                        <%= " and " + ((Like.where(article_id:(article.id)).count - 1)*336654).to_s + " others" %>
                        <% end %>
                    <% end %>
                    
                  </strong><br>
                  <strong>
                    <%= link_to article.user.username, user_path(article.user) %>
                  </strong>
                   <%= article.caption %>
                </p>
              </div>
            </div>

            <p>
              <% if Comment.where(article_id:(article.id)).count == 1 %>
                <%= link_to  "view comment", article_path(article) %>
              <% elsif Comment.where(article_id:(article.id)).count == 0 %>
                <%= "" %>
              <% elsif %>
                <%= link_to  "view all" + " " + Comment.where(article_id:(article.id)).count.to_s + " " + "comments", article_path(article) %>
                <% end %>
            </p>
            <div class="border-bottom">
              <%= time_ago_in_words(article.created_at) %>
            </div>
                  <%= form_with model: [ article, article.comments.build ] do |form| %>
                      <%= form.text_field :body, class:"border-0", style:"width: 85%; height: 50px; background-color: mintcream;", placeholder:"add a comment" %>

                      <%= form.submit value:"POST", class:"btn btn-outline-none", style:"color: royalblue; float: right" %>

                      <%= form.select :status, ['public', 'private', 'archived'], selected: 'public', value:"public", type:"hidden" %>
                      <%= form.number_field :article_id, value:article.id, type:"hidden" %><br>
                      <%= form.text_field :commenter, value:current_user.username, type:"hidden" %>
                      <%= form.number_field :user_id, value:current_user.id, type:"hidden" %>
                  <% end %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>

  </div>
