<div style="margin-left: 30%; margin-right: 20%;">


      <div id="articles">
        <% @articles.each do |article| %>
          <div class="border", style="margin-top: 50px;background-color: mintcream;">

            <div id="<%= dom_id article %>">
              <div style="background-color: white; height: 50px;">
                <strong>
                  <%= link_to article.title %>
                </strong>
                <%= link_to "D", article, method: :delete %>
                
              </div>
              
              <div class="text-center">
                <% unless article.archived? %>
                  <p style="margin-top:20px; width: 510px; height: : 310px;;">
                    <%= link_to image_tag article.image_url, style:"width: 500px; height: 350px;" if article.image %>
                  </p>
                <% end %>
              </div>
              <div class="container">
                <div class="row">
                  <div class="col-1">
                      like
                  </div>
                  <div class="col-2">
                      <%= link_to "comment", article_path(article) %>
                  </div>
                  <div class="col-1">
                    share
                  </div>                
                </div>     

                <p>
                   <strong>
                    <%= "130,074 likes" %>
                  </strong><br>
                  <strong>
                    <%= article.title %>
                    
                  </strong>
                   <%= article.caption %>
                </p>
              </div>
            </div>

            <p>
              <%= link_to "view all comments", article_path(article) %>
            </p>
            <div class="border-bottom">
              <%= time_ago_in_words(article.created_at) %>
            </div>
                  <%= form_with model: [ article, article.comments.build ] do |form| %>
                      <%#= form.text_field :current_user.username %>
                      <%= form.text_field :body, class:"border-0", style:"width: 85%; height: 50px;", placeholder:"add a comment" %>

                      <%= form.submit value:"post", class:"btn btn-outline-none", style:"color: royalblue" %>

                      <%= form.select :status, ['public', 'private', 'archived'], selected: 'public', value:"public", type:"hidden" %>
                      <%= form.number_field :article_id, value:article.id, type:"hidden" %><br>
                      <%= form.text_field :commenter, value:current_user.username, type:"hidden" %>
                      <%= form.number_field :user_id, value:current_user.id, type:"hidden" %>
                  <% end %>
            </div>
          </div>
        <% end %>
      </div>
  </div>
